@import '../../assets/styles/config.scss';

.coverContainer {
  display: flex;
  color: $textColor;

  // padding: 40px 80px;
  .thebgm {
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url("../../assets/images/companyLogos/mainpageimg.png");
    width: 100%;
    background-size: cover;
    height: 400px;

    @media screen and (max-width:600px) {
      background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url("../../assets/images/companyLogos/mpmainimg.png");
      background-repeat: no-repeat;
      height: 350px;
    }
  }

  .themaintext {
    position: absolute;
    margin-top: 200px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;

    @media screen and (max-width:600px) {
      margin-top: 165px;
    }
  }

  .themainbtn {
    display: none;

    @media screen and (max-width:600px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid #FFFFFF;
      border-radius: 15px;
      background: transparent;
      color: white;
      padding: 0px 15px;
      color: white;
      padding: 10px 40px;
      font-weight: 800;
    }
  }

  .titletext {
    font-size: 75px;
    font-weight: 800;
    line-height: 70px;

    @media screen and (max-width:600px) {
      font-size: 45px;
      width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .desctext {
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;

    @media screen and (max-width:600px) {
      display: none;
    }
  }

  .descmbtext {
    display: none;

    @media screen and (max-width:600px) {
      display: block;
      font-size: 22px;
      font-weight: 800;
      line-height: 50px;
    }
  }

  .coverLeft {
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    justify-content: center;
    flex: 1;

    .leftHeader {
      font-weight: 800;
      font-size: 30px;
      margin-bottom: 30px;
    }

    .leftDesc {
      font-weight: 300;
      font-size: 14px;
      line-height: 2;
    }
  }

  .coverRight {
    display: flex;
    flex-direction: column;
    border: 1px solid $borderColor;
    border-left: 16px solid $primaryColor;
    padding: 30px 50px;
    width: 45%;

    .rightHeader {
      font-weight: 800;
      font-size: 25px;
      margin-bottom: 10px;
    }

    .rightSubHeader {
      font-weight: 700;
      font-size: 13px;
    }

    .formInput {
      border: 1px solid $borderColor;
      max-width: 500px;
      height: 55px;
      margin-top: 30px;
    }
  }
}