.thebgm {
  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url("../../assets/images/companyLogos/mainpageimg.png");
  width: 100%;
  background-size: cover;
  height: 400px;
}

.the-main-text {
  position: absolute;
  margin-top: 200px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}

.title-text {
  font-size: 75px;
  font-weight: 800;
  line-height: 70px;
}

.desc-text {
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
}

.woman-img {
  margin-top: 44px;
}

.landing-title1 {
  font-weight: 800;
  font-size: 44px;
  color: #222128;
  margin-top: 120px;
}

.landing-title2 {
  font-weight: 800;
  font-size: 44px;
  color: #222128;
  margin-top: -15px;
}

.right-desc {
  font-weight: 300;
  font-size: 17px;
  line-height: 40px;
  color: #222128;
  width: 600px;
}

.thebtn {
  background: #FFFFFF;
  border: 0.5px solid #EBEBEB;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 19px;
  color: #222128;
  overflow: hidden;
  position: relative;
}

.thebtn:after {
  background: #222128;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 1;
  position: absolute;
  top: -75px;
  width: 50px;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(35deg);
  z-index: -10;
}

.thebtn:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 50;
}

.thebtn:hover{
  transform: scale(1.1);
  transition: 0.6s all ease;
}


.hr-sty {
  margin-top: -1px;
  border: 0.5px solid #EBEBEB;
}

@media screen and (max-width : 600px) {
  .thebgm {
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url("../../assets/images/companyLogos/mpmainimg.png");
    width: 100%;
    background-size: cover;
    height: 200px;
  }
}