.sidemenu {
    width: 550px;
    height: 740px;
    position: fixed;
    background: white;
    margin-top: 60px;
    padding-top: 25px;
    z-index: 11;
    text-align: start;
    border: 1px solid #EDEDED;
    margin-top: 800px;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 70px;
    border: 0.5px solid #E5E5E5;
    border-radius: 15px;
}

.pagemask {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    // overflow: hidden !important;
}

.close-img {
    margin-left: 93px;
    position: absolute;
    /* background: white; */
    z-index: 13;
}

.side-text {
    margin-left: 60px;
}

.card-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #5F6163;
}

.card-desc {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #5F6163;
}

.card-data {
    display: flex;
    transition: -webkit-transform .5s cubic-bezier(.4, 0, .2, 1);
    transition: transform .5s cubic-bezier(.4, 0, .2, 1);
    transition: transform .5s cubic-bezier(.4, 0, .2, 1),
        -webkit-transform .5s cubic-bezier(.4, 0, .2, 1);
    margin-top: 10px;
}

.card-data:hover {
    transform: scale(1.1);
    transition: 0.4s all ease;
    // transition: -webkit-transform .5s cubic-bezier(.4,0,.2,1);
    // transition: transform .5s cubic-bezier(.4,0,.2,1);
    // transition: transform .5s cubic-bezier(.4,0,.2,1),-webkit-transform .5s cubic-bezier(.4,0,.2,1);}
}

.company-logo {
    border: 0.5px solid #E5E5E5;
    border-radius: 5px;
    padding: 13px;
    width: 60px;
    height: 60px;
}

.card-text1 {
    margin-left: 10px;
}

.vl-top {
    border-left: 0.5px solid #E5E5E5;
    height: 100%;
    z-index: 10;
}

.comp-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #5F6163;
    margin-top: 14px;

}

.comp-desc {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #5F6163;
    margin-top: -8px;
}

.rightmenu {
    width: 550px;
    height: 580px;
    position: fixed;
    background: white;
    padding-top: 25px;
    z-index: 11;
    text-align: start;
    border: 1px solid #EDEDED;
    margin-top: 640px;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 70px;
    border: 0.5px solid #E5E5E5;
    border-radius: 15px;
    right: 60px;
}

.close-img-right {
    position: absolute;
    right: 88px;
    z-index: 13;
}

.right-card-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #5F6163;

}

.right-card-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #5F6163;
    margin-top: -13px;
}