.carres {
    height: 40px;
    background-color: white;
    ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // padding-right: 4.4%;
    position: fixed;
    width: 100%;
    z-index: 10;
    // padding-left: 10px;
    border-bottom: 0.5px solid #E5E5E5;
    cursor: pointer;

    h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;


        margin-bottom: 0;
        color: #FFFFFF;

        img {
            width: 18px;
            height: 18px;
        }
    }
}

// .left-icon  {
//     margin-left: 12px;
//     margin-right: 12px;
// }
.left-icon , .right-logo {
  margin-left: 25px;
  margin-right: 24px;
}

.right-logo:hover , .left-icon:hover{
    transform: scale(1.1);
    transition: 0.4s all ease;
}

.right-icons {
    display: flex;
    margin-left: auto;
}

.vl-top1 {
    border-left: 0.5px solid #E5E5E5;
    height: 40px;
}

@media only screen and (max-width: 700px) {
    .carres {
        height: 2rem;
        background-color: #4CAF50;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 5%;
        position: fixed;
        width: 100%;
        z-index: 99999;
        padding-left: 5%;

        h5 {
            font-size: 11px;
        }
    }

}