@import '../../assets/styles/config.scss';

.featureContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  color: $textColor;
  @media screen and (max-width:600px) {
    padding: 40px 40px;
  }

  .featureHeader {
    margin-bottom: 35px;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    @media screen and (max-width:600px) {
      display: none;
    }
  }
  .featureMbHeader {
    display: none;
    @media screen and (max-width:600px) {
      display: block;
      margin-bottom: 35px;
      font-weight: 800;
      font-size: 25px;
      text-align: center;
    }
  }

  .featureList {
    display: flex;
    margin: 0 -15px;

    .featureItem {
      margin: 0 15px;
      flex: 1;
      display: flex;
      flex-direction: column;
      border: 1px solid $borderColor;
      border-radius: 15px;
      @media screen and (max-width:600px) {
        margin-bottom: 45px;
      }
      

      .featureItemHeader {
        padding: 20px 30px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $borderColor;

        .featureIcon {
          margin-bottom: 10px;
          width: 36px;
          height: 36px;
        }

        .featureTitle {
          font-weight: 800;
          font-size: 25px;
          margin-left: 20px;
        }
      }

      .featureContent {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;

        .featuresItemList {
          display: flex;
          flex-direction: column;

          .featureContentItem {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            &:last-child {
              .dot {
                background-color: #3485c0;
              }
            }

            .dot {
              width: 13px;
              height: 13px;
              background-color: #50c7ad;
              margin-right: 10px;
            }
          }
        }

        .learnMore {
          background-color: $borderColor;
          border-radius: 10px;
          font-weight: 700;
          font-size: 11px;
          text-align: center;
          padding: 8px 20px;
          width: 130px;
          margin-top: 20px;
          @include hoverZoom(1.05);
          @media screen and (max-width:600px) {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    @media screen and (max-width:600px) {
      display: block;
    }
  }
}