@import '../../assets/styles/config.scss';

.navbar {
  background-color: white;
  height: 77px;
  display: flex;
  align-items: center;
  padding: 0 80px;
  color: $primaryColor;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  @media screen and (max-width:600px) {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .navbarDetails {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .menuIcon {
    @include hoverZoom();
    @media screen and (max-width:600px) {
      margin-left: 30px;
    }
  }
  .mainlink{
    @media screen and (max-width:600px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .headerLogo {
    height: 33px;
    margin-left: 40px;
    margin-right: 40px;
    @include hoverZoom(1.05);
    @media screen and (max-width:600px) {
      margin-left: -20px;
      // margin-right: auto;
    }
  }

  .separator {
    height: 35px;
    width: 1px;
    background-color: $primaryColor;

    @media screen and (max-width:600px) {
      display: none;
    }
  }

  .links {
    @media screen and (max-width:600px) {
      display: none;
    }
  }

  .brandChange {
    margin-left: 40px;
    font-size: 14px;
    color: $primaryColor;
    @include hoverZoom(1.05);

    span {
      font-weight: 700;
      margin-left: 40px;

    }

    margin-right: 10px;
  }

  .dropDownBtn {
    @include hoverZoom(1.05);

    @media screen and (max-width:600px) {
      display: none;
    }
  }

  .headerSearch {
    display: flex;
    flex: 1;
    align-items: center;

    .search {
      width: 200px;
      font-weight: 700;
      font-size: 12px;
      flex: 1;
      background: #F9F9F9;
      border: 0.5px solid #F9F9F9;
      border-radius: 10px;
      padding: 15px 0px;
    }

    .search::placeholder {
      padding-left: 20px;
    }

    .searchicon {
      margin-left: -40px;
    }

    @media screen and (max-width:600px) {
      display: none;
    }
  }

  .headerActions {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;

    .outlineBtn {
      border: 1px solid $primaryColor;
      border-radius: 8px;
      color: $primaryColor;
      margin-left: 20px;
      font-weight: 700;
      font-size: 13px;
      height: 35px;
      width: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      @include hoverZoom();
    }

    .filledBtn {
      background-color: $primaryColor;
      color: white;
      border-radius: 8px;
      margin-right: 20px;
      font-weight: 700;
      font-size: 13px;
      height: 35px;
      width: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      @include hoverZoom();
    }

    @media screen and (max-width:600px) {
      display: none;
    }
  }

}

.navContainer {
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  width: 450px;
  position: fixed;
  z-index: 99;
  top: 77px;
  bottom: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  border-right: 1px solid $borderColor;
  color: $primaryColor;
  padding: 55px 40px;

  &.navOpened {
    transform: none;
  }

  .menuHeader {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .searchContainer {
    border-radius: 10px;
    border: 1px solid $borderColor;
    display: flex;
    align-items: center;
    color: rgba(24, 37, 66, 0.45);
    height: 50px;
    padding: 0 20px;

    .search {
      margin-left: 10px;
    }
  }

  nav {
    margin-top: 20px;
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    ul {
      list-style: none;
      margin: 30px 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding: 20px 25px;
        cursor: pointer;

        &:hover {
          background: rgba(24, 37, 66, 0.03);
        }

        &.active {
          background: rgba(24, 37, 66, 0.03);

          .menuItemTitle {
            font-weight: 700;
          }
        }

        img {
          margin-right: 20px;
          width: 25px;
          height: 25px;
        }

        .menuItemTitle {
          font-weight: 400;
          font-size: 18px;
        }
      }
    }
  }
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 77px;
  bottom: 0;
  left: 0;
  right: 0;

  .maincompany {
    background-color: white;
    z-index: 10;
    padding: 35px 110px;
    height: 400px;

    .launch {
      font-weight: 700;
      font-size: 15px;
      line-height: 35px;
      color: #182443;
      padding-bottom: 20px;
    }

    .finance {
      font-weight: 700;
      font-size: 15px;
      line-height: 35px;
      color: #182443;
      padding-bottom: 20px;
      padding-top: 70px;
    }



    .companyList {
      background-color: white;
      display: flex;
      flex-wrap: wrap;



      .companyItem {
        width: 25%;
        display: flex;
        align-items: center;
        @include hoverZoom(1.05);

        .companyImg {
          height: 22px;
        }

        .divider {
          width: 1.5px;
          height: 22px;
          background-color: $primaryColor;
          margin: 0 15px;
        }

        .companyType {
          font-size: 12px;
        }
      }
    }
  }

  .overlay {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.78);
  }

}