.navbar1 {
    height: 107px;
    align-items: center;
    display: flex;
    background: white;
    border-bottom: 0.5px solid #EBEBEB;
    padding-left: 50px;
    cursor: pointer;
    flex-wrap: nowrap;
    padding-top: 40px !important;
}

.funnel-icon {
    margin-left: 17px;
    margin-right: 67px;
    width: 200px;
}

.funnel-icon:hover {
    transform: scale(1.1);
    transition: 0.4s all ease;
}

.vl {
    border-left: 1px solid #E5E5E5;
    height: 75px;
    margin-top: -16px;
}

.vl2 {
    border-left: 1px solid #E5E5E5;
    height: 75px;
    margin-top: -16px;
}


.vl1 {
    border-left: 1px solid #E5E5E5;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.text-sty {
    font-weight: 500;
    font-size: 14px;
    color: #222128;
    margin-left: 40px;
    margin-top: 12px;
}

.bos-icon {
    margin-left: 20px;
    margin-top: 3px;
}

.arrow {
    margin-left: 10px;
    margin-top: 2px;
}

.search-field {
    color: #151E27;
    opacity: 0.65;
    border: none;
    background: white;
    margin-left: 30px;
    padding-top: 1px;
    width: 30%;
    font-weight: 700;
    font-size: 16px;
}

.search-field::placeholder {
    font-weight: 700;
    font-size: 16px;
    opacity: 0.5;
}

.search-icon {
    margin-left: -30px;
}

.login-btn {
    background: #1FCC99;
    border: 0.5px solid #1FCC99;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    text-align: end;
    padding: 6px 25px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.login-btn:after,
.black-btn:after {
    background: white;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 1;
    position: absolute;
    top: -75px;
    width: 50px;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: rotate(35deg);
    z-index: -10;
}

.login-btn:hover:after,
.black-btn:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 50;
}


.black-btn {
    background: #222128;
    border: 0.5px solid #222128;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    text-align: end;
    padding: 6px 25px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.button-groups {
    margin-left: auto;
    display: flex;
    margin-right: 50px;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 7px
}

.menu-item {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #151E27;
    margin-top: 10px;
    padding: 25px 0px;
    position: relative;
    overflow: hidden;
    width: 131px;
}

.menu-item:hover {
    font-size: 15px;
    transition: 0.4s all ease;
}

.the-hrtag {
    position: absolute;
    top: 89px;
    width: 100%;
    margin-left: -50px;
    overflow-x: hidden;
    border-bottom: 1px solid #E5E5E5;
    opacity: 1;
}

.login-bg {
    background: #1FCC99;
    border: 0.5px solid #1FCC99;
    font-weight: 700;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    line-height: 16px;
    color: #FFFFFF;
}

.register-bg {
    background:  #182443;
    border: 0.5px solid #182443;
    font-weight: 700;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    line-height: 16px;
    color: #FFFFFF;
}

.login-bg:after,
.register-bg::after {
    background: white;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 1;
    position: absolute;
    top: -65px;
    width: 50px;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: rotate(35deg);
    z-index: -10;
}

.login-bg:hover:after,
.register-bg:hover::after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 50;
}

.active {
    font-weight: 800 !important;
}

.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: 15px;


    /****** 
    optional values below 
    ******/

    /* center - (optional) use with adjusting width   */
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 35%;
    background: #182443;
    /* optional animation */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}