@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import 'colors';

body {
  margin: 0;
  font-family: 'Montserrat', 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none !important;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: $primaryColor;
  position: relative;
}
